body {
  color: $primaryTextColor;
  font-family: 'Roboto', sans-serif;
  behavior: smooth;
  overflow-y: auto;
  min-height: 100vh;
}
.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  > main {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
  }
}
