$primaryTextColor: #000000;
$secondaryColor: #8c8c8c;
$whiteColor: #ffffff;
$footerGrayColor: #545454;
$accentColor: #ff6b01;
$redLineColor: #ff001b;
$lightGray: #f7f7f7;
$blackItemShadow: rgba(0, 0, 0, 0.5);
$redItemShadow: rgba(220, 4, 48, 0.6);
