<section class="gallery">
  <div class="container">
    <h2 class="visually-hidden">Film gallery</h2>
    <ul class="films">
      <li class="films__item" data-id="${id}">
        <div class="films__img">
          <img src="/src/images/test.png" alt="film" loading="lazy" />
        </div>
        <div class="films__description">
          <p class="films__name">GREYHOUND</p>
          <p class="films__info">Drama, Action | 2020</p>
          <span class="films__rating">9.5</span>
        </div>
      </li>
      <li class="films__item" data-id="${id}">
        <div class="films__img">
          <img src="/src/images/test.png" alt="film" loading="lazy" />
        </div>
        <div class="films__description">
          <p class="films__name">GREYHOUND</p>
          <p class="films__info">Drama, Action | 2020</p>
          <span class="films__rating">9.5</span>
        </div>
      </li>
      <li class="films__item" data-id="${id}">
        <div class="films__img">
          <img src="/src/images/test.png" alt="film" loading="lazy" />
        </div>
        <div class="films__description">
          <p class="films__name">GREYHOUND</p>
          <p class="films__info">Drama, Action | 2020</p>
          <span class="films__rating">9.5</span>
        </div>
      </li>
      <li class="films__item" data-id="${id}">
        <div class="films__img">
          <img src="/src/images/test.png" alt="film" loading="lazy" />
        </div>
        <div class="films__description">
          <p class="films__name">GREYHOUND</p>
          <p class="films__info">Drama, Action | 2020</p>
          <span class="films__rating">9.5</span>
        </div>
      </li>
    </ul>
  </div>
</section>
