<header class="header">
  <div class="container header__container">
    <nav class="header__navigation">
      <a href='./index.html' class="logo">
        <svg class="logo__icon">
          <use href="./images/sprite.svg#icon-logo"></use>
        </svg>
        <span class="logo__text">Filmoteka</span>
      </a>
      <div class="sign-container">
        <div class="sign-box">
          <a class="sign-link" href="#"></a>
        </div>
        <button class="sing-btn">SIGN IN</button>
      </div>
      <ul class="site-nav">
        <li><a href='./index.html' class="site-link current">Home</a></li>
        <li>
          <a href="./library.html" class="site-link ">my library</a>
        </li>
      </ul>
      </ul>
    </nav>
    <form autocomplite="off" class="film-form">
      <label for="">
        <input type="text" class="film-input" placeholder="Movie search" />
        <svg class="form__icon">
          <use href="./images/sprite.svg#icon-search"></use>
        </svg>
      </label>
    </form>
    <p class="form-error visually-hidden">Search result not successful. Enter the correct movie name and </p>
  </div>
</header>