<header class="header library-header">
  <div class="container header__container">
    <nav class="header__navigation">
      <a href="./index.html" class="logo">
        <svg class="logo__icon">
          <use href="./images/sprite.svg#icon-logo"></use>
        </svg>
        <span class="logo__text">Film searcher</span>
      </a>
      <ul class="site-nav">
        <li><a href="./index.html" class="site-link">Home</a></li>
        <li>
          <a href="./library.html" class="site-link current">my library</a>
        </li>
      </ul>
    </nav>
    <div class="library-btn">
      <button data-watched type="button" class="button">Watched</button>
      <button data-queue type="button" class="button">queue</button>
      <button data-fav type="button" class="button">recommendations</button>
    </div>
  </div>
</header>
