<div class="modal-sign-backdrop">
    <div class="modal-sign-container">
        <h2 class="modal-title">Sign IN to Firebase</h2>
        <main class="modal-sign-context-box">
            <div class="line-wrapper">
                <label for="email">Email</label>
                <input type="text" id="email" autocomplete="off" placeholder="example@domain.com">
            </div>
            <div class="line-wrapper">
                <label for="password">Passward</label>
                <input type="password" id="password" autocomplete="off" placeholder="use a strong password">
            </div>
            <div class="line-wrapper">
                <button class="modal-sign-btn">SIGN IN from email</button>
                <button class="modal-sign-btn">SIGN IN from google</button>
            </div>
            <p class="modal-sign-error-massage"></p>
        </main>
    </div>
</div>