.films {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: flex-start;
  padding: 60px 0;
  @include media('tablet') {
    gap: 32px;
  }
  @include media('desktop') {
    gap: 16px;
  }
}
.films__item {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 280px;

  @include media('tablet') {
    width: 336px;
  }
  @include media('desktop') {
    width: 394px;
  }

  &:hover {
    box-shadow: 7px -7px 21px rgba(220, 4, 48, 0.6);

    & .films__img {
      opacity: 0.7;
    }
  }
}
.films__img {
  height: 400px;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @include media('tablet') {
    height: 455px;
  }
  @include media('desktop') {
    height: 574px;
  }

  & > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
.films__description {
  position: relative;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: calc(16 / 12);
  padding: 8px 5px;

  @include media('desktop') {
    font-size: 20px;
    line-height: calc(24 / 20);
  }
}
.films__name {
  text-transform: uppercase;

  color: $primaryTextColor;

  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.films__container {
  display: flex;
  align-items: baseline;
}
.films__info {
  margin-top: 5px;
  display: inline-block;
  color: $accentColor;
}
.films__rating {
  padding: 2px 10px;
  border-radius: 5px;
  font-size: 12px;
  line-height: calc(14 / 12);
  color: $whiteColor;
  background-color: $accentColor;
  margin-left: 5px;
}

.films__fav-icon {
  position: absolute;
  bottom: -4px;
  right: -5px;
  scale: 0.5;
  fill: grey;
  cursor: pointer;
}
.active {
  fill: $accentColor;
  scale: 0.6;
}
.recom {
  text-align: center;
  margin-top: 15px;
}
