.tui-pagination .tui-first-child.tui-is-selected {
  border-left: 1px solid #ff6b0a;
  &:hover {
    background: #ff3b0a;
  }
}

.tui-pagination .tui-is-selected, .tui-pagination strong {
  background: #ff6b0a;
  border-color: #ff6b0a;
  &:hover {
    background: #ff3b0a;
  }
}