.hidden {
  display: none;
}

.trailer__youtube {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 97%;
  height: 44%;
  transform: translate(-50%, -50%);
  @include media('desktop') {
    height: 83%;
  }
  @include media('desktop') {
    height: 87%;
  }
}

.modal-button:last-child {
  margin-top: 10px;
}
