body.light-theme {
  background-color: #fff;
  color: #333333;
}

body.dark-theme {
  // background-color: #333333;
  background-color: #400202;
  color: #fff;
  .films__name {
    color: #fff;
  }
  .theme-switch__icon {
    color: #d3d3d4;
  }
}

li {
  list-style: none;
}

.toolbar {
  display: flex;
  justify-content: flex-end;
  padding: 5px 10px;
  position: absolute;
  top: 0;
  right: 0;
}

/* THEME SWITCH */
.theme-switch {
  display: flex;
  align-items: center;
}

.theme-switch__icon {
  color: #991515;
  height: 24px;
  width: 24px;
  margin-right: 8px;
  margin-left: 8px;
}

.theme-switch__control {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  position: relative;
  width: 64px;
  height: 32px;
  border-radius: 50em;
  padding: 3px 0;
}

.theme-switch__toggle {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
  height: 0;
  width: 0;
  pointer-events: none;
}

.theme-switch__track {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: transparent;
  user-select: none;
  background-color: #991515;
  border-radius: inherit;
  z-index: 1;
  cursor: pointer;
}

.theme-switch__marker {
  position: relative;
  background-color: #fff;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  z-index: 2;
  pointer-events: none;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  transform: translateX(3px);
  transition: transform 250ms var(--timing-function);
}

.theme-switch__toggle:checked + .theme-switch__track {
  background-color: #d3d3d4;
}

.theme-switch__toggle:checked ~ .theme-switch__marker {
  transform: translateX(35px);
}

.theme-switch__toggle:focus + .theme-switch__track,
.theme-switch__toggle:active + .theme-switch__track {
  box-shadow: 0 0 0 3px #f38021;
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 5px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: transparent;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}
.top-btn {
  width: 30px;
  height: 30px;
  fill: #000;
}
