// .video {
//   overflow: hidden;
//   position: relative;
// }
.noHover {
  pointer-events: none;
}

.hidden {
  display: none;
}

.trailer__youtube {
  object-fit: cover;
  top: 56%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 93%;
  height: 20%;
  display: block;
  position: absolute;

  @include media('tablet') {
    height: 83%;
    top: 50%;
  }
  @include media('desktop') {
    height: 88%;
    width: 97%;
  }
  body {
    overflow: hidden;
  }
}

.modal-button:last-child {
  margin-top: 10px;
}
